body {
  background-color: #441E13;
  color: white;

}
/*
div {
  outline: 1px solid yellow;
}
*/

.logo {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  width: 195px;
  float: left;
}

.logoContainer {
  width: 920px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.slogan {
  max-width: 380px;
  float: left;
  color: #A37B71;
  font-family: sans-serif;
  font-size: 0.9rem;
  margin-top: 18px;
}

.nav {
  background-color: rgba(0, 0, 0, 0.25);
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;

}

.nav li {
  border-right: 1px solid #D4B364;
  display: block;
  float: left;
  padding: 6px 20px;
  font-family: sans-serif;
}

.nav ol {
  padding: 18px 10px;
}

.nav li:last-child{
  border-right: none;
}

.about {
  color: white;
  font-size: 3rem;
  float: left;
  font-weight: bold;
  width: 139px;
  background-color: #87a984;
  padding-right: 546px;
  padding-left: 235px;
  padding-top: 46px;

}

.aboutcontainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.moreabout {
  background-color: #87a984;
  float: left;
  font-size: 1rem;
  font-family: sans-serif;
  width: 450px;
  padding-left: 235px;
  padding-right: 235px;
  padding-bottom: 45px;
  font-weight: lighter;

}

.moreaboutcontainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  background-color: #96afac;
  float: left;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  font-size: 0.8rem;
  width: 145px;
  padding-top: 32px;
  padding-bottom: 433px;
  padding-left: 25px;
  padding-right: 30px;
  margin-top: 7px;
}

.sidebar li{
  border-bottom: 1px solid white;
  display: block;
  float: left;
  padding: 15px 30px;
  font-family: sans-serif;
}

.sidebarcontainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.mainbody {
  background-color: #dbd8c5;
  float: left;
}

.mainbodycontainer {

}

.mainbodytitle {
  
}
