body {
  background-color: #441E13;
  color: white;

}
/*
div {
  outline: 1px solid yellow;
}
*/

.logo {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  width: 195px;
  float: left;
}

.slogan {
  max-width: 380px;
  float: left;
  color: #A37B71;
  font-family: sans-serif;
  font-size: 0.9rem;
  margin-top: 18px;
}

.logoContainer {
  width: 920px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  background-color: rgba(0, 0, 0, 0.25);
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;

}

.nav li {
  border-right: 1px solid #D4B364;
  display: block;
  float: left;
  padding: 6px 20px;
  font-family: sans-serif;
}

.nav ol {
  padding: 18px 10px;
}

.nav li:last-child{
  border-right: none;
}

.about {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  float: left;
  width: 139px;
  background-color: #87A984;
  padding-left: 235px;
  padding-right: 546px;
  padding-top: 45px;

}

.aboutContainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;

}

.moreabout {
  background-color: #87A984;
  float: left;
  width: 450px;
  font-size: 1rem;
  font-family: sans-serif;
  padding-left: 235px;
  padding-right: 235px;
  font-weight: lighter;
  padding-bottom: 45px;
}

.moreaboutContainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;

}

.sidebar {
  background-color: #96AFAC;
  float: left;
  color: white;
  font-size: 0.9rem;
  width: 145px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 430px;
  padding-left: 25px;
  padding-right: 30px;
  margin-top: 7px;
  line-height: 1.7;
}

.sidebarContainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;

  }

.sidebar li {
  border-bottom: 1px solid white;
  display: block;
  float: left;
  padding: 6px 1px;
  font-family: sans-serif;

}

.mainbodytitle {
  color: #566C77;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: sans-serif;
  float: left;
  width: 193px;
  background-color: #DBD8C5;
  padding-left: 45px;
  padding-right: 482px;
  padding-top: 40px;
  margin-top: 7px;

}

.mainbodytitleContainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
}

.mainbody {
  background-color: #DBD8C5;
  float: left;
  color: black;
  font-size: 0.8rem;
  font-family: sans-serif;
  width: 620px;
  padding-left: 45px;
  padding-right: 55px;
  padding-bottom: 269px;
  padding-top: 33px;
  line-height: 1.7;
}

.mainbodyContainer {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}
